.conteudoFotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr)); 
    gap: 1rem;
    width: 100%;
    max-width: 1250px; 
    margin: 0 auto; 
}

.foto {
    width: 100%;
    max-width: 100%;
}

.foto img {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
}