
.conteudoSobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}

.imagemSobre {
    justify-self: end;
    align-content: center;
}

.imagemSobre img {
    max-width: 500px;
    height: 100%;
    display: block;
}

.textoSobre{
    text-align: left;
    align-self: center;
    font-family: consolas;
    font-size: 1rem ;
}

@media (max-width: 1149px){
    .conteudoSobre{
        grid-template-columns: 1fr;
    }

    .imagemSobre {
        justify-self: center;
        align-content: center;
    }
}