* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: grid;
    place-items: center;
    grid-template-rows: 25% 75%;
    min-height: 100vh;
    min-width: 100vh;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: bottom -450px right -276px;
}

.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
    letter-spacing: -11px;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 150px;
}

.conteudoCirculo {
    position: absolute;
    left: -100px;
    z-index: 1000;
    top: -25px;
}

.imagebackgroundjp {
    position: absolute;
    right: -158px;
    z-index: 1000;
    bottom: -831px;
}

.conteudoFotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto {
    flex: 0 0 calc(33.33% - 20px);
    /* Definindo o tamanho das fotos */
    margin: 10px;
    /* Espaçamento entre as fotos */
}

.foto img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .foto {
        flex-basis: calc(50% - 20px);
        /* Duas fotos por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .foto {
        flex-basis: calc(100% - 20px);
        /* Uma foto por linha em telas ainda menores */
    }
}